/*css criado para montar a nav usada como padrão em várias telas*/

.section {
  display: block !important;
  position: relative;
  padding: 20px 0;
}

.section-primary {
  background-color: #131111fd !important;
  color: #00FFFF !important;
}

.text-inverse {
  color: #00FFFF;
}

.cover h1.text-inverse {
  color: #00FFFF !important;
}

.jumbotron h1.text-inverse {
  color: #00FFFF !important;
}