/*css criado para montar a nav usada como padrão em várias telas*/

.section {
  display: block;
  position: relative;
  padding: 35px 0;
  border-bottom: 1px solid #2088b3;
  z-index: 100;
}

.navbar-brand {
  font-size: 2.5rem !important;
  color: #ffffff !important;
}

.section-primary {
  /* background-color: #337cbb !important; */
  background-color: #2180a7 !important;
  color: #ffffff !important;
}

a i {
  text-align: center;
  position: relative;
  /* position: center; */
  left: 50%;
  top: 50%;
  width: 100% !important;
}

.text-inverse {
  color: #ffffff !important;
}

.cover h1.text-inverse {
  color: #ffffff !important;
}

.jumbotron h1.text-inverse {
  color: #ffffff !important;
}

.btn {
  /* background: #337cbb; */
  background: #2180a7;
}

.search {
  position: relative;
  margin-top: 2%;
  margin-left: 50%;
  margin-right: 10%;
  float: right;
}