*, ::after, ::before {
    box-sizing: border-box;
}

body html{

    position: relative;
    width: 100%;
    min-width: 100%; 

}

body {   
    background-color: rgb(204, 217, 235)!important;

}
.nav {
    position: top;
    display: flex;
    z-index: 100;    
    margin-right: 0px;
    margin-left: 0px;
    height: auto;
    width: 100%;      
    background-image: linear-gradient(rgb(44, 79, 150)30%, rgb(144, 182, 231));
}

.nav h1 h2 h3 h4 h5 {
    color: #ffffff;
    text-align: center;
}

.title-nav {
    display: flex;
    padding-left: 3%;
    min-width: auto;    
    height: auto;
    margin: auto 3%;   
    min-block-size: initial;  
    font-size: 30px;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.title-nav h3 {
    margin: 0px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;    
    height: auto;
    width: auto;    
    float:left;
    margin: 0.8% auto auto 3%;
    list-style: none;
    position: relative;
    /* text-align: justify; */
}

.nav ul li {
    display: flex;
    float:left;
    margin-top: 1.65%;
    margin-left: 10px;
    margin-right: 30px;
    justify-content: center;
    position: relative;
}

.nav ul li:hover {
    text-shadow: rgb(19, 18, 18) 0.1em 0.1em 0.2em;
}

.nav ul li a {
    height: auto;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.nav ul li a i {
    margin-top: 1%;
    color: #EDEDED;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

.nav ul li a p {
    height: auto;
    text-align: center;
    color: #EDEDED;
    font-size: 15px;
    position: relative;
    text-decoration: none;
}

.search {
    display:flex;
    float:right;
    margin: auto 3%;
    padding-bottom: initial;

}
/* Ajusta  o valor total em listagem de produtos e serviços de OS */
.valortot{
    text-align: right;
    padding-right: 10px;
}

.captiontop caption {
    caption-side: top;
}
caption {
    display: table-caption;
    text-align: -webkit-center;
}
@media (max-width:1501px) {
  
    .title-nav {
        width:100%;
        padding-left: 0px;
        padding-top: 25px;
        padding-bottom:20px;
        margin: 0 auto;
    }   
    .title-nav h3 {
        margin: 0 auto;
    }
   .nav ul {
    margin: 0 auto;
   }
}
@media (max-width:1364px) {
  
    .title-nav {       
       margin: 0 auto;
    }   
}
@media (max-width: 785px){

    .search {
        float:center;       
        padding-bottom: initial;
        margin-bottom:3%;
    
    }
    .form-inline{
        
        width: 100%;
    }
}
