*, ::after, ::before {
    box-sizing: border-box;
}
.nav {
    display: flex;
    height: 100px;
    max-width: 100%;
    
    z-index: 100;
    position: top;    
    background-color: #5c99e9;
   
}

.nav h1 h2 h3 h4 h5 {
    color: #ffffff;
    text-align: center;
    
}

.title-nav {
    display: flex;
    max-width: 100%;   
    max-height: 40px;
    margin: auto 35px auto auto;    
    font-size: 30px;
    position: relative;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: auto;
    margin: auto auto auto 0px;
    list-style: none;   
    position: relative;
    
}

.nav ul li {
    display: flex;
    margin-top: auto;
    margin-left: 0px;
    margin-right: 30px;
    justify-content: center;
    position: relative;
}
.nav ul li:hover {
    text-shadow: rgb(19, 18, 18) 0.1em 0.1em 0.2em;
}

.nav ul li a {
    height: auto;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.nav ul li a i {
    margin-top: auto;
    color: #EDEDED;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

.nav ul li a p {
    height:auto;
    text-align: center;
    color: #EDEDED;
    font-size: 15px;
    position: relative;
    text-decoration: none;
}
.search{
/* display:inline-block; */
margin: auto 200px auto auto; 
}

@media (min-width: 1200px) {
    .container {
      max-width: 1560px;
    }
  }