*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 217, 235)!important;
}

.nav {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;    
    height: auto;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    position: top;
    background-image: linear-gradient(rgb(44, 79, 150)30%, rgb(144, 182, 231));
}

.nav h1 h2 h3 h4 h5 {
    color: #ffffff;
    text-align: center;
}

.title-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 40px;
    margin: 1,65% auto auto auto;
    font-size: 30px;
    color: #ffffff;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: justify ;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin: 0 auto;
    list-style: none;
    position: relative;
}

.nav ul li {
    display: flex;
    margin-top: 1.65%;
    margin-left: 0px;
    margin-right: 30px;
    justify-content: center;
    position: relative;
}

.nav ul li:hover {
    text-shadow: rgb(19, 18, 18) 0.1em 0.1em 0.2em;
}

.nav ul li a {
    height: auto;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.nav ul li a i {
    margin-top: 1%;
    color: #EDEDED;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

.nav ul li a p {
    height: auto;
    text-align: center;
    color: #EDEDED;
    font-size: 15px;
    position: relative;
    text-decoration: none;
}

.search {
    /* display:inline-block; */
    margin: auto 200px auto auto;
}

/* /////////////////////////////////////*/
/* @media (max-width:1370px) {
    .nav ul li {
    margin-left: 10px;
    }
} */


@media (max-width:1300px) {
    .nav ul li a i {
        margin-top: auto;        
    }
    .nav ul li a p {
        height: auto;
        text-align: center;       
    }
    .nav h3 {
      text-align: center;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1560px;
    }
}

.valortot {
    text-align: right;
    font-weight: 501;
    margin-right: 10px;
}



@media(max-width: 1251px) {
    .title-nav {
        text-align: left;
    }
    .nav ul li a i {
       
    }
    .nav ul li a p {       
       
    }
}

@media(max-width:450px) {
    .nav {
        max-width: 450px;
        max-height: fit-content;
    }
    .nav ul {
        margin: 30px 15px;
    }
    .nav ul li {
        margin: 10px;
        text-align: center;
    }
    .nav ul li a i {
        margin-top: auto;
        max-height: auto;
    }
    .nav ul li a p {
        font-size: 7x;
    }
    .title-nav h3 {   
        margin: 15px auto auto 15px;
        font-size: 40px;      
       
    }
   
}